


body {
    display: flex;
    justify-content: center;
}

.calculator-body {

    display: flex;
    align-items: center;
    width: 20vw;
    height:50vh;
    flex-direction: column;
    background-color: black;
    border-radius: 10%;
}

.display {
    height: 10%;
    width: 80%;
    margin-top: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
    font-size: 36px;

}

.numpad {
    width: 80%;
    margin-top: 25px;
    justify-content: space-between;
    height: 72%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    gap: 5px
}

.num, .operator, .clear, .plusminus, .percentage, .decimal {
    width: calc(25% - 12px);

    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Helvetica, sans-serif;
    background-color: grey;
}

.operator {
    background-color: orange;
}

.clear, .plusminus, .percentage {
    background-color: lightgray;
}

.num0 {
    flex-grow: 2;
}

.highlighted {
    background-color: white;
}